.main {
    width: 100%;
}

.list-employees table {
    width: 100%;
    border-collapse: collapse;
}

.list-employees thead th,
.list-employees tbody td {
    border: 1px solid #28282a;
    padding: 12px;
    text-align: left;
    vertical-align: middle;
}

.list-employees thead th {
    color: #fff;
}

.list-employees tbody tr:last-child td {
    border-bottom: 1px solid #28282a;
}

.list-employees thead tr:first-child th:first-child {
    border-top-left-radius: 8px;
}

.list-employees thead tr:first-child th:last-child {
    border-top-right-radius: 8px;
}

.list-employees tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.list-employees tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.action {
    display: flex;
    gap: 10px;
}

.btn {
    width: 125px;
    background-color: #141414;
    border: 2px solid #28282a;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    transition: ease 0.2s;

}
.btn:hover {
    background-color: #28282A;
    color: #fff;

}
.warning-btn {
    width: 125px;
    background-color: #141414;
    border: 2px solid #28282a;
    color: #ff0000;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    transition: ease 0.2s;

}
.warning-btn:hover {
    background-color: #ff0000;
    color: #fff;
}
