:root {
    --primary-bg-color: #09090B;
    --secondary-bg-color: #28282A;
    --hover-bg-color: #141414;
    --text-color: #fff;
    --text-color-gray: #999;
    --warning-color: #ff0000;
    --border-color: #28282A;
    --font-family: Arial, sans-serif;
    --btn-padding: 10px 25px;
    --btn-font-size: 16px;
    --btn-border-radius: 8px;
    --transition-duration: 0.2s;
    --cursor-border-color: white;
    --cursor-inner-border-color: gray;
}

body.dark-theme {
    filter: invert(1) hue-rotate(180deg) !important;
}

.warning-text {
    color: var(--warning-color);
}

@keyframes fade-in {
    from {
        opacity: 0;
        filter: blur(10px);
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        filter: blur(0);
    }

    to {
        opacity: 0;
        filter: blur(10px);
    }
}

body {
    overflow: hidden;
    margin: 0;
    animation: fade-in 0.5s;
    padding: 0;
    color: var(--text-color);
    background-color: var(--primary-bg-color);
    font-family: var(--font-family);
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 350px;
}

.header {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    justify-content: space-between;
}

.header-left p {
    margin-bottom: 25px;
}

.content {
    margin-left: 290px;
    padding: 40px;
    width: calc(100% - 250px);
    background-color: var(--primary-bg-color);
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.btn,
.warning-btn {
    width: fit-content;
    padding: var(--btn-padding);
    font-size: var(--btn-font-size);
    border-radius: var(--btn-border-radius);
    transition: ease var(--transition-duration);
    margin: 0 10px 0px 0;
}

.btn {
    background-color: var(--primary-bg-color);
    border: 2px solid var(--border-color);
    color: var(--text-color);
}

.btn:hover {
    background-color: var(--secondary-bg-color);
}

.warning-btn {
    background-color: var(--primary-bg-color);
    border: 2px solid var(--border-color);
    color: var(--warning-color);
}

.warning-btn:hover {
    background-color: var(--warning-color);
    color: var(--text-color);
}

.bx {
    font-size: 20px;
    padding-right: 10px;
    align-self: center;
}
